.trend-card
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px

  .title
    color #125091
    font-size 18px
    margin-bottom 15px

  .emotion
    display flex
    align-items center
    justify-content center
    height 60px
    font-size 18px

    .bar
      flex 1 0 350px
      height 100%
      display flex

      .positive
        margin-left 10px
        background #ff8f9c
        border-top-left-radius 30px
        border-bottom-left-radius 30px
        font-size 18px
        display flex
        justify-content center
        align-items center
        color white

      .negative
        background #b8c4d5
        margin-left 10px
        margin-right 10px
        border-top-right-radius 30px
        border-bottom-right-radius 30px
        text-align center
        font-size 18px
        display flex
        justify-content center
        align-items center
        color white

  .comments
    display flex

    .comment-list
      height 500px
      display flex
      flex-direction column
      padding 0 10px
      overflow-y auto

      .comment
        border-bottom solid #dddddd 1px
        padding 20px 0 20px 0

        &:last-child
          border-bottom none

        .person
          height auto
          display flex
          align-items center

          > img
            height 48px
            width 48px

          .intro
            font-size 18px
            color #999999
            margin-left 20px

        .text
          margin-left 20px
          font-size 14px
          color blue
          &.negative
            color red
