
.intro
  height 265px
  padding 21px 23px 41px 34px
  border-bottom solid #DDDDDD 1px
  .title
    color #125091
    font-size 18px
    margin-bottom 12px
  .detail
    display flex
    .img
      flex 0 0 154px
      height 154px
      margin-right 47px
      display flex
      justify-content center
      align-items center
    .text
      font-size 18px
      color #808080

.related
  height 215px
  padding 17px 30px 0 34px
  border-bottom solid #DDDDDD 1px
  .title
    color #125091
    font-size 18px
    margin-bottom 18px
    display flex
    .more-link
      cursor pointer
      margin-left auto
  .list
    display flex
    justify-content space-between
    align-items center
    .item
      display flex
      flex-direction column
      justify-content center
      .img
        width 98px
        height 98px
        &.store
          width 153px
          height 103px
        &.product
          width 130px
          height 130px
      .text
        width auto
        margin-top 10px
        height 25px
        font-size 18px
        color #808080
        display flex
        justify-content center

.card
  overflow-y scroll
  height 100%
