.collapse-button
  padding 5px
  border-radius 3px
  background #e4f1ff
  cursor pointer
  color #4990e2

.collapse-list
  border-radius 3px
  background white
  z-index 4
  .collapse-title
    height 25px
    padding 5px
    cursor pointer
    text-align center
    color black
    font-size 18px
    border-bottom 1px solid #e3e4e4
  .collapse-item
    height 25px
    padding 5px
    cursor pointer
    text-align center
    text-overflow ellipsis
    -o-text-overflow ellipsis
    white-space nowrap
    overflow hidden
    color #808080
    border-bottom 1px solid #e3e4e4
    &:last-child
      border-bottom none

