.common-card
  height 265px
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px
  position relative
  transition height ease 750ms
  overflow hidden

  &.expand
    height auto

  .title
    height 25px
    line-height 25px
    color #125091
    font-size 18px

    &.exist
      margin-bottom 10px

  .content
    display flex
    align-items flex-start
    justify-content center

    .image
      width 210px
      height 160px
      display flex
      justify-content center
      align-items center

      > img
        max-height 160px
        max-width 210px

    .intro
      flex 1 0 300px
      margin-left 25px

      .name
        color #125091
        font-size 18px

      .text
        padding-top 15px
        font-size 14px
        color #808080
        overflow-y hidden
        height 120px
        line-height 25px
        text-align justify
        word-break break-all

        &.truncated
          overflow-y auto
          height auto
        .url
          float right
  .list
    width 100%
    display flex
    flex-wrap wrap

    .item
      cursor pointer
      text-align center
      margin-bottom 50px
      margin-right 15px

      > img
        display inline
        max-height 110px

      &.Person
        max-height 150px

        > img
          display inline
          min-height 130px

      &.Product
        width 130px

      &.store
        width 150px

      .name
        margin 0 10px 5px 10px
        text-align center
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 2
        -webkit-box-orient vertical
        font-size 14px
        color #808080

  .expand
    position absolute
    right 30px
    bottom 8px
    height 20px
    display flex
    align-items center
    font-size 14px
    color #4990e2
    cursor pointer

    > svg
      margin-right 5px
