.component-pop-up
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index -10
  background rgba(0, 0, 0, .6)
  display flex
  align-items center
  justify-content center
  &.show
    z-index 5
  .inner
    margin-right auto
    margin-left auto
    width 700px
    height 500px
    padding 20px
    border-radius 10px
    background white
    border solid 1px black
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    position relative
    .close-button
      position absolute
      top 20px
      right 20px
      cursor pointer
