.center
  height 156px
  width 156px
  border-radius 50%
  background linear-gradient(90deg, #4AF7FF, #D4C9C9)

.highlight
  box-shadow black 0 2px 4px 0
  stroke black
  stroke-width 5px

.node-text
  width 100px
  white-space nowrap
  overflow hidden
