width = 1440px
height = 820px
html, body
  margin 0
  height 100%

.main
  min-width width
  min-height height
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex

  .left-part
    width 60%
    background linear-gradient(135deg, #0D9AB7, #124D90)
    padding 18px
    display flex
    flex-direction column
    .top
      flex 0 0 30px
      display flex
      .logo
        width 30px
      .title
        margin-left 11px
        font-size 18px
        color white
    .search
      flex 0 0 135px
      display flex
      padding-top 16px
      justify-content center
      .input
        width 576px
        height 46px
        margin 0
        border-radius 4px
        box-shadow #000000 0 1px 3px 0
        position relative
        > input
          width 100%
          height 100%
          padding 0
          font-size 24px
        > svg
          position absolute
          left 20px
          top 14px
          pointer-events none
        .no-result, .searching
          width 130px
          height 25px
          position absolute
          top 10px
          right 25px
          display flex
          justify-content space-between
          align-items center
          color #e98484
          font-size 18px
        .searching
          color #65AD11
          width 96px
          .searching-animation
            position relative
            height 15px
            width 15px
            > span
              display inline-block
              width 1px
              height 4px
              border-radius 0.5px
              background #65ad11
              position absolute
              transform-origin 50% 7.5px
              left 50%
              top 0
              animation: search 1.0s ease infinite
              &:nth-child(1)
                transform rotate(0deg)
                -webkit-animation-delay 0.1s
              &:nth-child(2)
                transform rotate(36deg)
                -webkit-animation-delay 0.2s
              &:nth-child(3)
                transform rotate(72deg)
                -webkit-animation-delay 0.3s
              &:nth-child(4)
                transform rotate(108deg)
                -webkit-animation-delay 0.4s
              &:nth-child(5)
                transform rotate(144deg)
                -webkit-animation-delay 0.5s
              &:nth-child(6)
                transform rotate(180deg)
                -webkit-animation-delay 0.6s
              &:nth-child(7)
                transform rotate(216deg)
                -webkit-animation-delay 0.7s
              &:nth-child(8)
                transform rotate(252deg)
                -webkit-animation-delay 0.8s
              &:nth-child(9)
                transform rotate(288deg)
                -webkit-animation-delay 0.9s
              &:nth-child(10)
                transform rotate(324deg)
                -webkit-animation-delay 1.0s
        .search-result
          position relative
          display flex
          flex-wrap wrap
          height 85px
          .search-item
            background-color #E1F0F7
            color #69C
            width 160px
            height 25px
            border-radius 3px
            margin-top 5px
            margin-right 5px
            padding 5px
            cursor pointer
            text-align center
            text-overflow ellipsis
            -o-text-overflow ellipsis
            white-space nowrap
            overflow hidden
          .more-result
            position absolute
            bottom 2px
            padding 5px
            right 0
            background-color #E1F0F7
            color #69C
            height 25px
            border-radius 3px
            cursor pointer
    .graph
      flex 1 0 600px
      .graph-svg
        min-height 600px
  .right-part
    width 40%
    height 100%
    background white
  .popup
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -10
    &.listExpand
      z-index 5
    .mask
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background rgba(0, 0, 0, .6)
    .search-result-list
      position absolute
      top 0
      left 0
      right 0
      margin-right auto
      margin-left auto
      width 576px
      padding 20px
      border-radius 10px
      background white
      border solid 1px black
      .close
        margin-left auto
        width 60px
        height 25px
        cursor pointer
        text-align center
      .list
        display flex
        flex-wrap wrap
        padding 3px
        max-height 800px
        overflow-y auto
        .search-item
          background-color #E1F0F7
          color #69C
          width 160px
          height 25px
          border-radius 3px
          margin-top 5px
          margin-right 5px
          padding 5px
          cursor pointer
          text-align center
          text-overflow ellipsis
          -o-text-overflow ellipsis
          white-space nowrap
          overflow hidden
        .attr
          width 100%
          font-size 18px
          line-height 20px
          border solid 1px rgba(0, 0, 0, .6)
          border-bottom none
          display flex
          align-items center
          &:last-child
            border-bottom solid 1px rgba(0, 0, 0, .6)
          .key
            height 100%
            min-width 80px
            border-right solid 1px rgba(0, 0, 0, .6)
            display flex
            align-items center
            justify-content center
          .value
            padding 5px
            display flex
            flex-wrap wrap
            align-items center
            .other
              width 100%

@keyframes search
  0%
    opacity 0.5
  100%
    opacity 1
