*
  box-sizing border-box

html, body
  margin 0
  height 100%

#container
  height 100%

.main
  min-width 1440px
  min-height 820px
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex

  .left-part
    width 100%
    background linear-gradient(135deg, #0D9AB7, #124D90)
    display flex
    flex-direction column
    position relative
    padding 12% 0

    &.searching
      width 60%
      padding 18px 0 0 18px

      .top
        justify-content flex-start
        min-height 50px
        display flex
        align-items center

        .logo
          width 30px

        .title
          font-size 18px

    .top
      min-height 30px
      display flex
      padding-bottom 15px
      justify-content center

      .logo
        width 60px

      .title
        margin-left 10px
        font-size 45px
        color white
        display flex
        flex-wrap wrap

      .history
        margin-right 10px
        margin-left auto
        height 30px
        display flex

        .feedback-button
          cursor pointer
          color white
          display flex
          align-items center
    .search
      height 60px
      display flex
      justify-content center
      position relative
      transition height 1s ease
      overflow-y hidden
      margin 20px 0

      &.searching
        height 0
        margin 0

      &.expand
        height 90px

      .input
        width 1150px
        height 60px
        margin 0
        border-radius 4px
        box-shadow #000000 0 1px 3px 0
        position relative

        &.searching
          width 576px
          height 46px

          > svg
            left 10px
            top 9px
            width 30px
            height 30px

        > input
          width 100%
          height 100%
          padding 0
          font-size 36px

        > svg
          position absolute
          left 10px
          top 5px
          width 50px
          height 50px
          pointer-events none

        .no-result, .searching-logo
          width 130px
          height 25px
          position absolute
          top 10px
          right 25px
          display flex
          justify-content space-between
          align-items center
          color #e98484
          font-size 18px

        .searching-logo
          color #65AD11
          width 96px

          .searching-animation
            position relative
            height 15px
            width 15px

            > span
              display inline-block
              width 1px
              height 4px
              border-radius 0.5px
              background #65ad11
              position absolute
              transform-origin 50% 7.5px
              left 50%
              top 0
              animation search 1s ease infinite

              &:nth-child(1)
                transform rotate(0deg)
                -webkit-animation-delay 0.1s

              &:nth-child(2)
                transform rotate(36deg)
                -webkit-animation-delay 0.2s

              &:nth-child(3)
                transform rotate(72deg)
                -webkit-animation-delay 0.3s

              &:nth-child(4)
                transform rotate(108deg)
                -webkit-animation-delay 0.4s

              &:nth-child(5)
                transform rotate(144deg)
                -webkit-animation-delay 0.5s

              &:nth-child(6)
                transform rotate(180deg)
                -webkit-animation-delay 0.6s

              &:nth-child(7)
                transform rotate(216deg)
                -webkit-animation-delay 0.7s

              &:nth-child(8)
                transform rotate(252deg)
                -webkit-animation-delay 0.8s

              &:nth-child(9)
                transform rotate(288deg)
                -webkit-animation-delay 0.9s

              &:nth-child(10)
                transform rotate(324deg)
                -webkit-animation-delay 1s

        .search-result
          position relative
          display flex
          height 0
          margin-top 10px
          font-size 12px
          width 579px
          overflow hidden

          &.searching
            height 25px

          .search-item
            background-color #CDEDFF
            color #125091
            flex 0 0 auto
            height 25px
            border-radius 2px
            padding 5px
            margin-right 8px
            cursor pointer
            display flex
            align-items center
            justify-content center

          .more-result
            margin-left auto
            background-color #7ED321
            color white
            width 73px
            height 25px
            border-radius 2px
            cursor pointer
            display flex
            align-items center
            justify-content center

    .statistic
      color white
      font-size 30px
      display flex
      justify-content center

      > span
        color #F8E900
        font-weight bold

    .search-bar-button
      height 15px
      width 100%
      bottom 0
      display flex
      justify-content center
      align-items center
      cursor pointer
      color white

    .graph
      flex 1 0 500px
      position relative

      .mask
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 5
        background rgba(0, 0, 0, 0.1)

        .loading
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          margin auto
          height 100px
          width 100px

          > span
            display inline-block
            width 6px
            height 24px
            border-radius 3px
            background white
            position absolute
            transform-origin 50% 40px
            left 50%
            top 0
            animation search 1s ease infinite

            &:nth-child(1)
              transform rotate(0deg)
              -webkit-animation-delay 0.1s

            &:nth-child(2)
              transform rotate(36deg)
              -webkit-animation-delay 0.2s

            &:nth-child(3)
              transform rotate(72deg)
              -webkit-animation-delay 0.3s

            &:nth-child(4)
              transform rotate(108deg)
              -webkit-animation-delay 0.4s

            &:nth-child(5)
              transform rotate(144deg)
              -webkit-animation-delay 0.5s

            &:nth-child(6)
              transform rotate(180deg)
              -webkit-animation-delay 0.6s

            &:nth-child(7)
              transform rotate(216deg)
              -webkit-animation-delay 0.7s

            &:nth-child(8)
              transform rotate(252deg)
              -webkit-animation-delay 0.8s

            &:nth-child(9)
              transform rotate(288deg)
              -webkit-animation-delay 0.9s

            &:nth-child(10)
              transform rotate(324deg)
              -webkit-animation-delay 1s

      .graph-svg
        min-height 500px

  .right-part
    width 40%
    height 100%
    background white
    z-index 3

  .popup
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -10

    &.listExpand
      z-index 5

    .mask
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background rgba(0, 0, 0, 0.6)

    .search-result-list
      position absolute
      top 0
      left 0
      right 0
      margin-right auto
      margin-left auto
      width 576px
      padding 20px
      border-radius 10px
      background white
      border solid 1px black

      .close
        margin-left auto
        width 60px
        height 25px
        cursor pointer
        text-align center

      .list
        display flex
        flex-wrap wrap
        padding 3px
        max-height 800px
        overflow-y auto

        .search-item
          background-color #E1F0F7
          color #69C
          width 160px
          height 25px
          border-radius 3px
          margin-top 5px
          margin-right 5px
          padding 5px
          cursor pointer
          text-align center
          text-overflow ellipsis
          -o-text-overflow ellipsis
          white-space nowrap
          overflow hidden

@keyframes search
  0%
    opacity 0.5

  100%
    opacity 1
