width = 1440px
height = 768px
.main
  min-width width
  min-height height
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  display flex

  .left-part
    width 60%
    background linear-gradient(135deg, #0D9AB7, #124D90)
    padding 18px
    display flex
    flex-direction column
    .top
      flex 0 0 30px
      display flex
      .logo
        width 30px
      .title
        margin-left 11px
        font-size 18px
        color white
    .search
      flex 0 0 124px
      display flex
      padding-top 16px
      justify-content center
      .input
        width 576px
        height 46px
        margin 0
        border-radius 4px
        box-shadow #000000 0 1px 3px 0
        position relative
        > input
          width 100%
          height 100%
          font-size 24px
        > svg
          position absolute
          left 20px
          top 14px
          pointer-events none
        .no-result
          color #9a0000
          margin-top auto
    .graph
      width 100%
      flex 1 0 600px
  .right-part
    width 40%
