.cards
  overflow-y scroll
  height 100%
  .tabs-part
    height 67px
    border-bottom solid #DDDDDD 1px
    display flex
    .tab
      flex 1 0 auto
      color #999999
      font-size 18px
      display flex
      align-items center
      justify-content center
      &.chosen
        border-bottom solid #125091 3px
