.cards
  overflow-y scroll
  height 100%
  .tabs-part
    height 67px
    border-bottom solid #DDDDDD 1px
    display flex
    .tab
      flex 1 0 auto
      color #999999
      font-size 18px
      display flex
      align-items center
      justify-content center
      cursor pointer
      border-bottom solid white 3px
      &.chosen
        border-bottom solid #125091 3px
  .expand-card
    padding 20px
    display flex
    flex-direction column
    justify-content flex-start
    .back
      height 40px
      width 100px
      font-size 18px
      margin-right auto
      color #125091
      cursor pointer
    .item-list
      margin-top 10px
      display flex
      flex-wrap wrap
      justify-content flex-start
      .item
        height auto
        width auto
        display flex
        flex-direction column
        justify-content center
        margin-bottom 25px
        margin-right 20px
        .img
          width 98px
          height 98px
          &.store
            width 153px
            height 103px
          &.product
            width 130px
            height 130px
        .text
          margin-top 10px
          height 25px
          font-size 18px
          color #808080
          display flex
          justify-content center
