.knowledge-cards
  height 100%
  position relative
  .tabs-part
    height 67px
    border-bottom solid #DDDDDD 1px
    display flex
    .tab
      flex 1 0 auto
      color #999999
      font-size 18px
      display flex
      align-items center
      justify-content center
      cursor pointer
      border-bottom solid white 3px
      &.chosen
        border-bottom solid #125091 3px
  .cards
    overflow-y scroll
    position absolute
    top 67px
    bottom 0
    left 0
    right 0

  .loading
    width 50px
    height 50px
    position relative
    margin 0 auto
    margin-top 10px
    margin-bottom 10px
    > span
      display inline-block
      width 8px
      height 8px
      border-radius 50%
      background black
      position absolute
      -webkit-animation: load 1.04s ease infinite
      &:nth-child(1)
        left 0
        top 50%
        margin-top -4px
        -webkit-animation-delay 0.13s
      &:nth-child(2)
        left 7px
        top 7px
        -webkit-animation-delay 0.26s
      &:nth-child(3)
        left 50%
        top 0
        margin-left -4px
        -webkit-animation-delay 0.39s
      &:nth-child(4)
        top 7px
        right 7px
        -webkit-animation-delay 0.52s
      &:nth-child(5)
        right 0
        top 50%
        margin-top -4px
        -webkit-animation-delay 0.65s
      &:nth-child(6)
        right 7px
        bottom 7px
        -webkit-animation-delay 0.78s
      &:nth-child(7)
        bottom 0
        left 50%
        margin-left -4px
        -webkit-animation-delay 0.91s
      &:nth-child(8)
        bottom 7px
        left 7px
        -webkit-animation-delay 1.04s

@-webkit-keyframes load
  100%
    width 8px
    height 8px
    opacity 1
  0%
    width 4px
    height 4px
    opacity 0

