.news-card
  height 120px
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px
  .title
    color #125091
    font-size 18px
    margin-bottom 15px
  .content
    display flex
    flex-wrap wrap
    .keyword
      height 25px
      background #e3e3e3
      color #9b9b9b
      border-radius 2px
      padding-left 20px
      padding-right 20px
      margin-right 15px
      margin-bottom 15px
      cursor pointer
      &.selected
        background deepskyblue
        color white
    > img
      width 125px
      height 80px
      margin-right 35px
    .news-text
      flex 1 0 300px
      height 80px
      color #808080
      font-size 14px
  .news-link
    width 75px
    height 20px
    display flex
    justify-content center
    align-items center
    font-size 14px
    color #4990e2
    margin-left auto
    text-decoration none
    > svg
      margin-right 5px
