.node-relation
  height 100%
  width 100%
  display flex
  flex-direction column
  .title
    height 20px
    text-align center
    margin 0
    > span
      color red
  .relation
    margin-top 5px
    flex 1 0 100px
    overflow-y auto
    > p
      line-height 20px
      .level
        font-weight bold
        margin 0 10px
      .source
        display inline-block
        margin 0 5px
        height 20px
        width 20px
        border-radius 10px
        border 1px solid white
        background yellowgreen
        color white
        font-size 11px
        line-height 20px
        text-align center
      .content
        text-indent 36px
        margin-top 5px
