.person-cards
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px
  position relative
  &:last-child
    border-bottom none
  .title
    color #125091
    font-size 18px
    margin-bottom 15px
  .person-content
    text-align center
    > img
      display inline
      max-width 344px
    .person-name
      margin-top 5px
      font-size 25px
    .person-text
      text-align left
      text-indent 28px
      margin-top 15px
      font-size 14px
      color #808080
      line-height 25px
  .person-attr
    margin-top 25px
    display flex
    flex-direction column
    .attr
      font-size 18px
      display flex
      border 1px solid #125091
      border-bottom none
      &:last-child
        border-bottom 1px solid #125091
      .key
        flex 0 0 100px
        border-right 1px solid #125091
        padding 5px
      .value
        flex 1 0 50px
        padding 5px
        display flex
        justify-content flex-start
        align-items center
        text-align justify

