.product-card
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px
  position relative
  transition height ease 750ms
  &:last-child
    border-bottom none
  .title
    color #125091
    font-size 18px
    margin-bottom 15px
  .attr
    width 100%
    font-size 18px
    line-height 20px
    border solid 1px rgba(0, 0, 0, .6)
    border-bottom none
    display flex
    align-items center
    &:last-child
      border-bottom solid 1px rgba(0, 0, 0, .6)
    .key
      height 100%
      min-width 200px
      display flex
      align-items center
      justify-content center
    .value
      border-left solid 1px rgba(0, 0, 0, .6)
      padding 5px
      display flex
      flex-wrap wrap
      align-items center
      .other
        width 100%
        margin 5px 0
  .category
    display inline-block
    width 100%
    font-size 18px
    line-height 22px
    margin 5px 0
    .tag
      display inline-block
      background-color #e1f0f7
      color #69c
      border-radius 3px
      padding 5px
      text-align center
      margin 0 5px
