.model
  width 100%
  font-size 18px
  line-height 20px
  border-top solid 1px gray
  display flex
  &:last-child
    margin-bottom 20px
    border-bottom solid 1px gray
  .key
    padding 10px
    height 100%
    min-width 200px
    display flex
    justify-content flex-end
    margin-right 20px
  .value
    padding 10px
    display flex
    flex-wrap wrap
    justify-content flex-start
