.product-card
  padding 30px 30px 30px 50px
  border-bottom solid #DDDDDD 1px
  position relative
  transition height ease 750ms
  display flex
  flex-direction column
  align-items center
  &:last-child
    border-bottom none
  > img
    margin 10px 0
    max-height 300
    display inline
  .title
    width 100%
    color #125091
    font-size 18px
    margin-bottom 15px
  .attr
    width 100%
    font-size 18px
    border solid 1px rgba(0, 0, 0, .6)
    border-bottom none
    display flex
    &:last-child
      border-bottom solid 1px rgba(0, 0, 0, .6)
    &:nth-child(odd)
      .value
        background #EFEFEF
    .key
      min-width 200px
      background #E3E4E4
      display flex
      justify-content center
      align-items center
      font-weight 600
    .value
      width 100%
      border-left solid 1px rgba(0, 0, 0, .6)
      font-size 16px
      padding 5px
      display flex
      flex-wrap wrap
      align-items center
      &:nth-child(odd)
        background #EFEFEF
      .other
        width 100%
        margin 5px 0
  .category
    display inline-block
    width 100%
    font-size 18px
    line-height 22px
    margin 5px 0
    .tag
      display inline-block
      min-width 91px
      height 25px
      background-color #e4f1ff
      font-size 14px
      line-height 25px
      color #4990E2
      border-radius 2px
      text-align center
      margin-left 15px
